.container {
  padding: 10px;
  margin: 20px 0;
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;    
  box-shadow: rgba(102, 184, 35, 0.08) 0px 0px 0px 1px;
}

.content {
  background-color: white;
  padding: 5px;
}
